pkgbase = windsurf
	pkgdesc = The Windsurf Editor
	pkgver = 2.0.61
	pkgrel = 1
	url = https://windsurf.com/
	arch = x86_64
	license = LicenseRef-Windsurf-Editor
	depends = alsa-lib
	depends = dbus
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxkbfile
	depends = libxss
	depends = nss
	depends = xdg-utils
	optdepends = org.freedesktop.secrets: Sync settings
	options = !strip
	source = windsurf-2.0.61.tar.gz::https://windsurf-stable.codeiumdata.com/linux-x64/stable/abcd9c8664da5af505557f3b327b5537400635f2/Windsurf-linux-x64-2.0.61.tar.gz
	sha256sums = 1dfa6477e573cc26447688e2ffbb1b9b03ac7fe016ae65c8d025c6f712eba28a

pkgname = windsurf
