pkgbase = windsurf
	pkgdesc = The Windsurf Editor
	pkgver = 2.0.67
	pkgrel = 1
	url = https://windsurf.com/
	arch = x86_64
	license = LicenseRef-Windsurf-Editor
	depends = alsa-lib
	depends = dbus
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxkbfile
	depends = libxss
	depends = nss
	depends = xdg-utils
	optdepends = org.freedesktop.secrets: Sync settings
	options = !strip
	source = windsurf-2.0.67.tar.gz::https://windsurf-stable.codeiumdata.com/linux-x64/stable/08b5de9bae1728a5ad46386c9b8903192a125c51/Windsurf-linux-x64-2.0.67.tar.gz
	sha256sums = f2f10ef446096bc77c6d0513ea7ceb8a59398d5119a93f5b88a7c77a59727b67

pkgname = windsurf
