pkgbase = windsurf
	pkgdesc = The Windsurf Editor
	pkgver = 2.3.15
	pkgrel = 1
	url = https://windsurf.com/
	arch = x86_64
	license = LicenseRef-Windsurf-Editor
	depends = alsa-lib
	depends = dbus
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxkbfile
	depends = libxss
	depends = nss
	depends = xdg-utils
	optdepends = org.freedesktop.secrets: Sync settings
	options = !strip
	source = windsurf-2.3.15.tar.gz::https://windsurf-stable.codeiumdata.com/linux-x64/stable/c46c49e94b4d3f41181204d59809d8f1b2c48d68/Windsurf-linux-x64-2.3.15.tar.gz
	sha256sums = cffdd3e01715f2a9b271b026a26cf204308915bcb4851b6103b30ef7a2d52deb

pkgname = windsurf
